@import '../config/colors';
@import '../config/sizes';
@import '../mixins/button-style';
@import '../mixins/list-reset';
@import '../mixins/screen';
@import '../mixins/sr-only';
@import '../mixins/svg';
@import '../mixins/typography';

html,
body {
    font-size: 16px;
    min-height: 100%;
}

body {
    @include style-text;
    background-color: $c-grey--lightest;
    color: $c-black;
}

h1 {
    @include style-heading-black;
    @include style-heading-1;
    margin: 0;

    &:not([class]) {
        margin: 0 0 1.2rem;
    }
}

h2 {
    @include style-heading;
    @include style-heading-2;
    margin: 0;

    &:not([class]) {
        color: $c-orange;
        margin: 1.5rem 0 .5rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

h3 {
    @include style-heading;
    @include style-heading-3;
    margin: 0;

    &:not([class]) {
        color: $c-orange;
        margin: 1rem 0 .5rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

h4 {
    @include style-heading;
    @include style-heading-4;
    margin: 0;

    &:not([class]) {
        color: $c-orange;
        margin: .5rem 0 .3rem;

        &:first-child {
            margin-top: 0;
        }
    }
}

h5 {
    @include style-heading;
    @include style-heading-5;
    margin: 0;

    &:not([class]) {
        color: $c-orange;
        margin: .5rem 0 .3rem;
    }
}

hr {
    background-color: $c-orange;
    border: 0;
    display: block;
    height: 2px;
    margin: 2rem 0;
    padding: 0;
}

p {
    font-size: inherit;
    font-style: inherit;
    margin: 0 0 1.5rem;
}

strong {
    font-weight: $weight-bold;
}

small {
    font-size: .875rem;
}

a {
    text-decoration: none;

    &:not([class]) {
        border-bottom: 1px solid $c-orange;
        color: $c-orange;
        text-decoration: none;
        transition: border-bottom-color .2s linear;

        &:hover {
            border-bottom-color: transparent;
        }
    }
}

button {
    font-family: $font-arial;
    font-size: 1rem;
    font-weight: $weight-normal;

    &:focus {
        outline: none;
    }
}

img,
figure {
    display: block;
}

figcaption {
    @include style-text;
    @include style-text-small;
    color: $c-grey;
    font-size: .875rem;
    padding: .4rem;
    text-align: center;
}

ul,
ol {
    @include list-reset;

    &:not([class]) {
        @include style-text;
        margin: 0 0 1.5rem;

        > li {
            margin: 0 0 .7rem;
            padding-left: 2rem;
            position: relative;

            &::before {
                left: .25rem;
                position: absolute;
                top: 0;
            }
        }

        ul,
        ol {
            margin: .7rem 0 0;
        }
    }
}

ul {
    &:not([class]) {
        > li {
            &::before {
                background-color: $c-orange;
                border-radius: 50%;
                content: '';
                height: 10px;
                top: 8px;
                width: 10px;
            }
        }
    }
}

ol {
    &:not([class]) {
        counter-reset: ol-number;

        > li {
            counter-increment: ol-number;

            &::before {
                color: $c-orange;
                content: counter(ol-number) '.';
                font-size: inherit;
                font-weight: $weight-bold;
                line-height: inherit;
            }

            ol {
                counter-reset: ol-number;

                > li {
                    counter-increment: ol-number;
                }
            }
        }
    }
}

dl {
    margin: 0 0 1.5rem;
}

dt {
    @include style-text;
    font-weight: $weight-bold;
    margin: .75rem 0 0;
}

dd {
    @include style-text;
}

table {
    border-collapse: collapse;
    margin: 0 0 1.5rem;
    text-align: left;
    width: 100%;
}

th,
td {
    padding: .5em .75em;
    vertical-align: top;

    &:last-child {
        border-right: 0;
    }
}

th {
    font-weight: $weight-bold;
}

tr {
    border-bottom: 1px solid $c-grey--light;

    &:nth-child(even) {
        td {
            background: $c-grey--lighter;
        }
    }
}

blockquote {
    border-left: 5px solid $c-orange;
    color: $c-orange;
    display: block;
    margin: 2rem 0;
    padding: 0 0 0 1.5rem;

    p {
        color: $c-black;
        font-family: $font-arial;
        font-size: 1.1rem;
        font-weight: $weight-bold;
        line-height: 1.3;
        margin: 0;
    }

    cite {
        color: $c-grey--dark;
        font-family: $font-arial;
        font-size: .875rem;
        font-style: normal;
        font-weight: $weight-normal;
        line-height: 1.2;

        &::before {
            content: '— ';
        }
    }

    @include screen($screen-simple) {
        p {
            font-size: 1.375rem;
        }
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input,
select,
textarea {
    appearance: none;
    background: $c-white;
    border: 1px solid $c-form-border;
    border-radius: 2px;
    box-shadow: none;
    color: $c-grey--dark;
    font-family: $font-arial;
    font-size: 1rem;
    font-weight: $weight-normal;
    height: $h-field;
    line-height: $h-field;
    outline: none;
    padding: 0 1rem;
    transition: border-color .2s;
    width: 100%;

    &::placeholder {
        color: $c-grey--medium;
        opacity: 1;
    }

    &:focus {
        border-color: $c-orange;
        outline: none;
    }

    &:disabled {
        background-color: $c-grey--lightest;
    }

    &.has-error,
    .has-error & {
        border-color: $c-error;
    }
}

input {
    &[type='radio'] {
        appearance: radio;
    }

    &[type='checkbox'] {
        appearance: checkbox;
    }

    &[type='radio'],
    &[type='checkbox'] {
        height: auto;
        line-height: unset;
        padding: 0;
        width: auto;
    }

    &[type='submit'] {
        @include button-base;
        @include button-style($c-pink, $c-white, $c-pink--dark, $c-white);

    }

    // sass-lint:disable no-vendor-prefixes
    &[type='date'] {
        appearance: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &[type='number'] {
        appearance: none;           // sass-lint:disable-line property-sort-order
        -moz-appearance: textfield; // sass-lint:disable-line property-sort-order

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &[type='search'] {
        appearance: none;

        &::-webkit-search-cancel-button {
            appearance: none;
            display: none;
        }
    }

    &::-ms-clear {
        display: none;
    }
    // sass-lint:enable no-vendor-prefixes
}

textarea {
    line-height: 1.5;
    min-height: 8rem;
    padding: .5rem 1rem;
    resize: vertical;
    width: 100%;
}

select {
    appearance: menulist;
    cursor: pointer;
    //padding-right: 35px;
}

legend {
    @include style-heading;
    @include style-heading-4;
    color: $c-orange;
    display: block;
    max-width: 100%;
    padding: 0;
}

label {
    color: $c-black;
    display: block;
    font-size: 1rem;
    font-weight: $weight-bold;
}

abbr {
    &[title] {
        border-bottom: 1px dotted transparentize($c-orange, .5);
        color: $c-orange;
        cursor: help;
        font-weight: $weight-bold;
        text-decoration: none;
        transition: color .2s ease-in-out, border-color .2s ease-in-out;

        &:hover {
            border-color: $c-orange;
        }
    }
}

mark,
ins {
    background-color: $c-orange;
    border: 0;
    color: $c-white;
    text-decoration: none;
}

code,
kbd,
tt,
var,
samp,
pre {
    font-family: monospace, serif;
    font-size: 1rem;
    line-height: 1.625;
}

pre {
    border: 2px solid $c-orange;
    margin-bottom: 1.5rem;
    max-width: 100%;
    overflow: auto;
    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

audio,
canvas,
iframe,
svg,
video {
    vertical-align: middle;
}

video {
    width: 100%;
}

iframe {
    max-width: 100%;
}

.wp-block-button__link {
    @include button-base;
    @include button-style($c-orange, $c-white, $c-orange--dark, $c-white);
}

.wp-block-file {
    a {
        @include button-base;
        @include button-style($c-orange, $c-white, $c-orange--dark, $c-white);

        &::after {
            @include svg('download', $c-white);
            display: inline-block;
            height: 20px;
            line-height: 20px;
            margin-left: 1rem;
            vertical-align: middle;
            width: 20px;
        }
    }

    .wp-block-file__button {
        display: none;
    }
}

.icon {
    height: 100%;
    width: 100%;
}
