// sass-lint:disable no-vendor-prefixes force-pseudo-nesting no-important
@import '../config/colors';

@media print {
    *,
    *::before,
    *::after,
    *::first-letter,
    p::first-line,
    div::first-line,
    blockquote::first-line,
    li::first-line {
        background: transparent !important;
        box-shadow: none !important;
        color: $c-black !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a {
        &[href]::after {
            content: ' (' attr(href) ')';
        }

        /*
         * Don't show links that are fragment identifiers,
         * or use the `javascript:` pseudo protocol
         */
        &[href^='#']::after,
        &[href^='javascript:']::after {
            content: '';
        }
    }

    abbr {
        &[title]::after {
            content: ' (' attr(title) ')';
        }
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid $c-grey--dark;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
    }
}
