@import '../config/colors';
@import '../mixins/button-style';
@import '../mixins/typography';

.button {
    @include button-base;
    @include button-style($c-orange, $c-white, $c-orange--dark, $c-white);
    $self: &;

    &__icon {
        fill: currentColor;
        height: 20px;
        margin-left: 1rem;
        width: 20px;
    }

    &--small {
        font-size: 1rem;
        height: 42px;
        line-height: 42px;
        padding: 0 1rem;
    }

    //&--medium {
    //    height: 60px;
    //    line-height: 60px;
    //  Move to radio button styling
    //}

    &--large {
        font-size: 1.375rem;
        height: 70px;
        line-height: 70px;
        padding: 0 2rem;

        #{$self}__icon {
            height: 24px;
            width: 24px;
        }
    }

    &--icon {
        align-items: center;
        display: inline-flex;
        justify-content: space-between;
    }

    &--blue-dark {
        @include button-style($c-orange--dark, $c-white, $c-orange, $c-white);
    }

    &--blue {
        @include button-style($c-orange, $c-white, $c-orange--dark, $c-white);
    }
}
