@import '../config/colors';
@import '../config/fonts';
@import '../mixins/clear-fix';
@import '../mixins/sr-only';
@import '../mixins/stretch';
@import '../mixins/svg';
@import '../mixins/typography';

.form {
    $self: &;
    position: relative;

    legend {
        &:not([class]) {
            @include sr-only;
        }
    }

    &__section {
        border: 0;
        margin: 0;
        padding: 0;
    }

    //&__fieldset {
    //}

    &__legend {
        & ~ #{ $self }__text {
            margin-top: -.75rem;
        }
    }

    &__field {
        display: block;
        margin-bottom: 1rem;
    }

    &__title {
        @include style-heading;
        @include style-heading-3;
        color: $c-orange;
        margin: 1.5rem 0;
    }

    &__label,
    &__hint,
    &__text,
    &__error {
        @include style-text-small;
        color: $c-black;
        display: block;
        font-weight: $weight-bold;
        line-height: 1.25;
        margin: 0 0 .25rem;
        max-width: 100%; // IE11
        width: 100%;

        &.is-hidden {
            @include sr-only;
        }
    }

    &__hint,
    &__text,
    &__error {
        color: $c-grey--darker;
        font-weight: $weight-normal;
        margin: .375rem 0 0;
    }

    &__text {
        margin: 0 0 1rem;

        #{$self}__title + & {
            margin: -.7rem 0 1.5rem;
        }
    }

    &__error {
        color: $c-error;
        display: none;

        .is-error & {
            display: block;
        }
    }


    &__label {
        white-space: nowrap;

        .is-optional &,
        .is-required & {
            &::after {
                color: $c-grey--darkest;
                content: '';
                display: inline-block;
                font-size: .8rem;
                text-align: right;
                width: 10px;
            }
        }

        .is-required & {
            &::after {
                content: '*';
            }
        }

        &--empty {
            display: none;
        }

        &--options {
            margin: 0 0 1rem;
        }
    }

    &__input,
    &__select {
        display: flex;
        flex: 1 0 100%;
        position: relative;
        width: 100%;

        .is-error &,
        .is-valid & {
            &::after {
                @include svg('close', $c-error);
                display: block;
                height: 16px;
                pointer-events: none;
                position: absolute;
                right: .75rem;
                top: .75rem;
                width: 16px;
            }
        }

        .is-valid & {
            &::after {
                @include svg('checkmark', $c-success);
            }
        }
    }

    &__prefix {
        background-color: $c-grey--light;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        color: $c-grey--darkest;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;

        & ~ input,
        & ~ select {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -2px;
        }
    }

    &__select {
        select {
            appearance: none;
        }

        &::before {
            @include svg('arrow-down', $c-grey--dark);
            display: block;
            height: 16px;
            pointer-events: none;
            position: absolute;
            right: .75rem;
            top: 46%;
            transform: translateY(-50%);
            width: 16px;
        }

        .is-error &,
        .is-valid & {
            &::after {
                right: 2.75rem;
            }
        }
    }

    &__checkboxes,
    &__radios,
    &__options {
        @include clear-fix;
        display: flex;
        flex: 1 0 100%;
        flex-wrap: wrap;
        margin: -8px -8px 0;

        &--vertical {
            flex-direction: column;
        }
    }

    &__checkboxes,
    &__radios {
        padding-top: 10px;
    }

    &__checkbox,
    &__radio {
        min-height: 30px;
        padding: 8px;
        position: relative;

        input {
            height: 14px;
            left: 11px;
            margin: 0;
            position: absolute;
            top: 11px;
            width: 14px;
        }

        label {
            cursor: pointer;
            display: block;
            font-size: .9375rem;
            font-weight: $weight-normal;
            line-height: 1.5;
            padding-left: 28px;
            position: relative;

            &::before {
                background-color: $c-white;
                border: 1px solid $c-form-border;
                content: '';
                height: 20px;
                left: 0;
                position: absolute;
                top: 0;
                width: 20px;
            }

            &::after {
                background-color: $c-form-border;
                content: '';
                position: absolute;
                top: 5px;
                transform: scale(0);
                transition: transform .15s, background-color .2s;
            }
        }
    }

    &__checkbox {
        input {
            &:focus {
                & ~ label {
                    &::before {
                        border-color: $c-orange;
                    }
                }
            }

            &:checked {
                & ~ label {
                    &::before {
                        background-color: $c-orange;
                        border-color: $c-blue;
                    }

                    &::after {
                        background-color: $c-orange;
                        border-color: $c-white;
                        transform: rotate(-45deg) scale(1);
                    }
                }
            }
        }

        label {
            &::before {
                border-radius: 2px;
                transition: background-color .2s, border-color .2s;
            }

            &::after {
                border: solid $c-form-border;
                border-width: 0 0 3px 3px;
                height: 7px;
                left: 4px;
                transform: rotate(-45deg) scale(0);
                transition: transform .15s, border-color .2s;
                width: 13px;
            }

            &:hover,
            &:focus {
                &::before {
                    border-color: $c-orange;
                }
            }
        }
    }

    &__radio {
        input {
            &:focus {
                & ~ label {
                    &::before {
                        border-color: $c-orange;
                    }
                }
            }

            &:checked {
                & ~ label {
                    &::before {
                        border-color: $c-orange;
                    }

                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }

        label {
            &::before {
                border-radius: 50%;
                transition: border-color .2s;
            }

            &::after {
                background-color: $c-orange;
                border-radius: 50%;
                height: 10px;
                left: 5px;
                width: 10px;
            }

            &:hover,
            &:focus {
                &::before {
                    border-color: $c-orange;
                }
            }
        }
    }

    &__option {
        flex: 1 0 20%;
        padding: 5px;
        position: relative;

        input {
            height: 14px;
            left: 30px;
            margin: 0;
            position: absolute;
            top: 30px;
            width: 14px;

            &:focus {
                & ~ label {
                    background-color: $c-grey--lighter;
                }
            }

            &:checked {
                & ~ label {
                    background-color: $c-orange;
                    color: $c-white;
                }
            }
        }

        label {
            background-color: $c-grey--lightest;
            border-radius: $r-border-radius;
            color: $c-black;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            height: 60px;
            line-height: 60px;
            min-width: 70px;
            padding: 0 .75rem;
            position: relative;
            text-align: center;
            transition: background-color .2s, color .2s;
            white-space: nowrap;

            &:hover {
                background-color: $c-grey--lighter;
            }
        }
    }


    &__description {
        align-items: center;
        display: flex;
        flex: 1 0 100%;
        height: auto;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        position: relative;
        transition: .5s opacity ease-in-out;

        .icon {
            fill: $c-orange;
            flex: 0 0 auto;
            height: 40px;
            margin-right: 1rem;
            width: 40px;
        }

        #{$self}__text {
            margin: 0;
        }

        &.is-shown {
            max-height: 300px;
            opacity: 1;
            padding: 1rem 0;
        }
    }

    &__icon {
        display: inline-block;
        fill: currentColor;
        height: 24px;
        margin: 0;
        transition: fill .2s;
        vertical-align: -17%;
        width: 24px;
    }

    &__buttons {
        margin-bottom: 1rem;
    }

    &__footer {
        padding: 1rem 0;

        > :last-child {
            margin-bottom: 0;
        }

        #{$self}__text {
            margin-bottom: 1.5rem;
        }
    }

    &__loader {
        background-color: transparentize($c-black, .7);
        border-radius: 6px;
        bottom: -1rem;
        display: none;
        left: -1rem;
        position: absolute;
        right: -1rem;
        top: -1rem;
    }

    &__loader-close {
        background-color: transparentize($c-black, .7);
        color: $c-white;
        cursor: pointer;
        height: 50px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: background-color .2s;
        width: 50px;

        &::before {
            @include svg('close', $c-white);
            display: block;
            height: 25px;
            position: absolute;
            right: 13px;
            top: 13px;
            width: 25px;
        }

        &:hover {
            background-color: transparentize($c-black, .4);
        }

        span {
            display: none;
        }
    }

    &__loader-content {
        background-color: $c-white;
        border-radius: 6px;
        //box-shadow: $shadow-dark;
        left: 50%;
        max-width: 100%;
        padding: 1rem;
        position: absolute;
        text-align: center;
        top: 15vh;
        transform: translate(-50%, 0);

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &.is-loading {
        height: 375px;
        overflow: hidden;

        #{ $self }__loader {
            background-color: $c-white;
            display: block;
        }

        #{ $self }__loader-content {
            box-shadow: none;
        }
    }

    &.is-submitting {
        #{ $self }__loader {
            display: block;
        }
    }

    &--password {
        .form__field {
            max-width: 400px;
        }
    }

    // sass-lint:disable no-ids
    &--donate {
        #form-amount,
        #form-sponsor-age,
        #form-sponsor-continent,
        #form-sponsor-country,
        #form-sponsor-gender,
        #form-method,
        #form-ideal,
        #form-debit,
        #form-info,
        #form-footer {
            display: none;
        }
    }

    &--project {
        #form-amount,
        #form-method,
        #form-ideal,
        #form-debit,
        #form-info,
        #form-footer {
            display: none;
        }
    }

    @include screen($screen-minimal) {
        &__group {
            &--address,
            &--name {
                display: flex;
                margin: 0 (-5px);

                #{$self}__field {
                    flex: 1 1 auto;
                    padding: 0 5px;
                }
            }

            &--address {
                flex-wrap: wrap;

                #{$self}__field {
                    flex: 1 1 50%;

                    &:nth-child(2),
                    &:nth-child(3) {
                        flex-basis: 25%;
                    }
                }
            }
        }
    }

    @include screen($screen-simple) {
        &__field {
            margin-bottom: 1.5rem;
        }

        &__option {
            flex: 1 0 20%;
        }

        &__label {
            font-size: 1rem;
        }

        &__title {
            margin-top: 2rem;
        }

        &__flat {
            #{ $self }__field {
                align-items: flex-start;
                display: flex;
                flex-flow: wrap;
                margin-bottom: 1rem;
            }

            #{ $self }__title,
            #{ $self }__hint,
            #{ $self }__error,
            #{ $self }__text,
            #{ $self }__buttons {
                padding-left: 175px;
            }

            #{ $self }__hint,
            #{ $self }__text,
            #{ $self }__error {
                flex: 1 0 100%;
            }

            #{ $self }__label {
                align-items: center;
                display: flex; // Flex'ing for '*' marking
                flex: 0 0 175px;
                height: $h-field - 2; // IE11
                justify-content: flex-end;
                margin: 0;
                max-width: 175px; // IE11
                min-height: $h-field;
                padding-right: 10px;
                text-align: right;

                .is-optional &,
                .is-required & {
                    &::after {
                        display: block;
                    }
                }

                &--empty {
                    display: flex;
                }

            }

            #{ $self }__input,
            #{ $self }__select,
            #{ $self }__radios,
            #{ $self }__checkboxes,
            #{ $self }__options {
                flex: 1 0 0;
            }

            #{ $self }__option {
                flex: 1 0 33%;
            }

            #{ $self }__footer {
                padding: 2rem 0;
            }
        }
    }

    @include screen(900px) {
        &__group {
            &--address {
                #{$self}__field {
                    &:nth-child(1) {
                        flex-basis: 40%;
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        flex-basis: 30%;
                    }
                }
            }
        }
    }

    @include screen(1150px) {
        &__group {
            &--address {
                #{$self}__field {
                    &:nth-child(1) {
                        flex-basis: 50%;
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        flex-basis: 25%;
                    }
                }
            }
        }
    }
}
