@import '../config/colors';
@import '../mixins/button-style';
@import '../mixins/typography';

.link {
    color: $c-orange;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &__text {
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .2s;
    }

    &__arrow {
        fill: currentColor;
        height: 10px;
        margin-right: .4rem;
        width: 10px;
    }

    &:hover {
        .link__text {
            border-bottom-color: currentColor;
        }
    }
}
