@import '../config/colors';
@import '../mixins/list-reset';
@import '../mixins/svg';
@import '../mixins/typography';

.menu {
    @include list-reset;
    display: block;
    padding: .5rem 1rem;

    &__item {
        border-bottom: 1px solid transparentize($c-black, .8);
        display: block;

        &:last-child {
            border-bottom: 0;
        }

        &.is-active {
            background-color: $c-grey--light;
        }
    }

    &__link {
        color: $c-grey--darkest;
        cursor: pointer;
        display: block;
        font-family: $font-arial;
        font-size: 1rem;
        font-weight: $weight-normal;
        line-height: 24px;
        padding: 1rem;
        text-decoration: none;
        transition: background-color .2s;

        &:hover {
            background-color: transparentize($c-black, .9);
        }
    }

    &__icon {
        display: inline-block;
        height: 24px;
        margin-right: .75rem;
        vertical-align: -26%;
        width: 24px;

        &--euro {
            @include svg('euro', $c-grey--darkest);
        }

        &--checklist {
            @include svg('checklist', $c-grey--darkest);
        }

        &--letters {
            @include svg('letters', $c-grey--darkest);
        }

        &--handshake {
            @include svg('handshake', $c-grey--darkest);
        }

        &--home {
            @include svg('home', $c-grey--darkest);
        }
    }
}
