@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/svg';
@import '../mixins/stretch';
@import '../config/colors';

.site {
    display: block;
    height: 100vh;
    overflow: hidden;
    width: 100vw;

    &__menu,
    &__content {
        background-color: $c-white;
        height: 100%;
        overflow: auto;
        width: 100%;
    }

    &__menu {
        background-color: $c-grey--lighter;
        box-shadow: $c-black;
        display: none;
        left: 0;
        position: absolute;
        top: 0;
        transform: translate3d(-101%, 0, 0);
        transition: transform .2s;
        width: 280px;
        z-index: 5;

        &.is-active {
            display: block;
        }

        &.is-open {
            transform: translate3d(0, 0, 0);
        }
    }

    &__warning {
        background-color: $c-yellow--light;
        font-size: .925rem;
        line-height: 1.5;
        padding: .75rem 8.5rem .75rem 1.25rem;
    }

    &__content {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &__container {
        margin: 0 auto;
        max-width: $w-content;
        padding: 4rem 1rem 2rem;
        width: 100%;
    }

    &__toggle {
        position: absolute;
        right: 1.75rem;
        top: .8rem;
        z-index: 5;

        &::before {
            @include svg('menu', $c-black);
            display: inline-block;
            height: 19px;
            vertical-align: -12%;
            width: 19px;
        }

        &.is-active {
            &::before {
                @include svg('close', $c-black);
            }
        }

        span {
            display: none;
        }
    }

    &__logo {
        bottom: 1rem;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);

    }

    @include screen($screen-simple) {
        &__toggle {
            &::before {
                margin-right: 10px;
            }

            span {
                display: inline-block;
            }
        }
    }

    @include screen($screen-normal) {
        display: flex;

        &__menu {
            box-shadow: none;
            display: block;
            flex: 0 0 280px;
            position: relative;
            transform: translate3d(0, 0, 0);
        }

        &__warning {
            padding: .75rem 1.25rem;
        }

        &__content {
            flex: 1 1 0;
        }

        &__container {
            padding-top: 2rem;
        }

        &__toggle {
            display: none;
        }
    }

    @include screen($screen-large) {
        &__warning {
            text-align: center;
        }
    }
}
