@import '../config/colors';

.spinner {
    height: 20px;
    margin: 0 auto;
    text-align: center;
    transition: opacity .5s;
    width: 80px;

    &__item {
        animation: spinner-scale 1.4s infinite ease-in-out both;
        background-color: $c-orange;
        border-radius: 100%;
        display: inline-block;
        height: 18px;
        margin: 0 2px;
        width: 18px;

        &:nth-child(1) {
            animation-delay: -.32s;
        }

        &:nth-child(2) {
            animation-delay: -.16s;
        }
    }
}

@keyframes spinner-scale {
    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}
