@import '../config/colors';
@import '../mixins/typography';


.table {
    .is-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    // Widths
    $widths: 10 20 30 40 50 60 70 80 90;
    @each $width in $widths {
        .is-w#{$width} {
            width: percentage($width / 100);
        }
    }

    // Alignments
    .is-center {
        text-align: center;
    }

    .is-right {
        text-align: right;
    }

    &--truncated {
        tbody {
            tr {
                &:nth-child(1n+6) {
                    display: none;
                }
            }
        }
    }

    &--small {
        th,
        td {
            font-size: .875rem;
            padding: .5em;
        }
    }
}
