$c-pink:                #ff4a9c;
$c-pink--dark:          #e80188;

$c-orange:              #f07e48;
$c-orange--dark:        #b35c00;

$c-yellow:              #ffd400;
$c-yellow--light:       #fff9c0;

$c-blue:                #009fe3;
$c-blue--dark:          #0583b7;

$c-green:               #95c11f;

$c-black:               #000;
$c-grey--darkest:       #050505;
$c-grey--darker:        #484848;
$c-grey--dark:          #7b7b7b;
$c-grey:                #d1d1d1;
$c-grey--medium:        #d6d6d6;
$c-grey--light:         #e8e8e8;
$c-grey--lighter:       #ebebeb;
$c-grey--lightest:      #f5f5f5;
$c-offwhite:            #f7f7f7;
$c-white:               #fff;

$c-form-main:           $c-orange;

$c-error:               #e20512;
$c-success:             #6fcc55;
$c-form-border:         $c-grey--light;

//social
$c-facebook:            #3b5998;
$c-instagram:           #8a3ab9;
$c-linkedin:            #0077b5;
$c-twitter:             #55acee;
$c-whatsapp:            #34af23;
$c-youtube:             #cd201f;

