// SCREENSIZES
$screen-minimal:     480px;
$screen-simple:      768px;
$screen-normal:     1024px;
$screen-large:      1280px;
$screen-xlarge:     1440px;
$screen-huge:       1680px;
$screen-jumbo:      1920px;

$screen-menu:       900px;

// SITE
$w-site:            768px;
$w-content:         768px;
$p-gutter:          20px; // 1.25rem * 16px

$h-nav--minified:   60px;
$h-nav--small:      80px;
$h-nav:             120px;
$w-drawer:          400px;
$w-logo-small:      200px;
$w-logo:            240px;
$r-border-radius:   60px;
$h-field:           40px;

