@import '../config/fonts';
@import '../config/sizes';
@import '../mixins/screen';

@mixin button-style($background, $color, $background-hover, $color-hover) {
    background-color: $background;
    color: $color;

    &:focus,
    &:hover {
        background-color: $background-hover;
        color: $color-hover;
    }
}

@mixin button-base {
    border: 0;
    border-radius: $r-border-radius;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-family: $font-arial;
    font-size: 1rem;
    font-weight: $weight-bold;
    height: 54px;
    line-height: 54px;
    max-width: 100%;
    overflow: hidden;
    padding: 0 1.75rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: background-color .2s, border-color .2s, color .2s;
    white-space: nowrap;

    @include screen($screen-simple) {
        font-size: 1.125rem;
    }
}
