@import './inline-svg';

/* How to use: @include svg('type', $color); */
@mixin svg($type, $color) {
    @if $type == arrow-down {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#{$color}" d="M12.412 18.67L23.83 7.252a.584.584 0 0 0 0-.824l-1.1-1.098a.578.578 0 0 0-.822 0L12 15.24 2.092 5.33a.58.58 0 0 0-.822 0L.17 6.428a.584.584 0 0 0 0 .824L11.59 18.67a.584.584 0 0 0 .824 0z"/></svg>');
    }

    @if $type == checkmark {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M32 6.364l-2.545-2.546-19.273 19.273-7.637-7.636L0 18l10.182 10.182z"/></svg>');
    }

    @if $type == close {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M32 3.223L28.777 0 16 12.777 3.223 0 0 3.223 12.777 16 0 28.777 3.223 32 16 19.223 28.777 32 32 28.777 19.223 16z"/></svg>');
    }

    @if $type == menu {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M1.293 4.902a1.293 1.293 0 0 0 0 2.586h29.414a1.293 1.293 0 1 0 0-2.586zm0 9.805a1.293 1.293 0 1 0 0 2.586h29.414a1.293 1.293 0 1 0 0-2.586zm0 9.805a1.293 1.293 0 1 0 0 2.586h29.414a1.293 1.293 0 1 0 0-2.586z"/></svg>');
    }

    @if $type == euro {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M4.21 20.578v-3.314h2.718s-.088-.74-.088-1.308c0-.48.088-1.395.088-1.395H4.21v-3.357h3.287C9.382 4.664 15.255 0 22.486 0c2.323 0 4.34.567 4.34.567l-1.36 5.1s-1.49-.435-3.111-.435c-4.164 0-7.407 2.31-8.81 5.972H24.46l-.702 3.357h-11s-.088.654-.088 1.308c0 .48.132 1.395.132 1.395h10.43l-.657 3.314H13.81c1.358 3.705 4.733 6.103 8.765 6.103 2.28 0 4.207-.654 4.207-.654l1.008 5.145S25.51 32 22.486 32c-7.494 0-13.192-4.665-14.988-11.422z"/></svg>');
    }

    @if $type == home {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M16 3.267c-.582 0-1.085.172-1.508.516L.221 15.673a.577.577 0 0 0-.219.426.643.643 0 0 0 .14.467l1.23 1.468a.677.677 0 0 0 .417.219.737.737 0 0 0 .476-.139L16 6.661l13.735 11.453a.612.612 0 0 0 .417.138h.06c.171-.026.31-.099.416-.218l1.231-1.468a.642.642 0 0 0 .139-.467.579.579 0 0 0-.219-.427l-4.346-3.612V3.962a.617.617 0 0 0-.18-.457.616.616 0 0 0-.456-.178h-3.81a.62.62 0 0 0-.457.178.619.619 0 0 0-.178.457v3.87l-4.843-4.049c-.423-.344-.926-.516-1.509-.516zm0 5.14l-11.413 9.41a.27.27 0 0 1-.01.059.272.272 0 0 0-.01.059v9.527c0 .344.126.642.378.893.25.251.549.378.893.378h7.621V21.11h5.082v7.622h7.621c.344 0 .642-.126.893-.378.252-.25.378-.549.378-.893v-9.527a.28.28 0 0 0-.02-.119z"/></svg>');
    }
}
