@import '../config/fonts';
@import '../config/sizes';
@import '../mixins/screen';

//
// Text
//
@mixin style-text {
    font-family: $font-arial;
    font-size: 1rem;
    line-height: 1.5;

    @include screen($screen-simple) {
        font-size: 1.125rem;
    }
}

@mixin style-text-small {
    font-family: $font-arial;
    font-size: .9375rem;
    line-height: 1.2;
}

//
// Header Style
//
@mixin style-heading {
    font-family: $font-arial;
    font-weight: $weight-bold;
    line-height: 1.2;
}


@mixin style-heading-black {
    font-family: $font-arial;
    font-weight: $weight-black;
    line-height: 1;
    text-transform: uppercase;
}

//
// Header 1 ~ 4
//
@mixin style-heading-1 {
    font-size: 1.75rem;

    @include screen($screen-minimal) {
        font-size: 2.25rem;
    }

    @include screen($screen-simple) {
        font-size: 3rem;
    }

    @include screen($screen-normal) {
        font-size: 3.75rem;
    }
}

@mixin style-heading-2 {
    font-size: 1.375rem;

    @include screen($screen-minimal) {
        font-size: 1.75rem;
    }

    @include screen($screen-simple) {
        font-size: 2.375rem;
    }
}

@mixin style-heading-3 {
    font-size: 1.25rem;

    @include screen($screen-simple) {
        font-size: 1.5rem;
    }
}

@mixin style-heading-4 {
    font-size: 1.125rem;

    @include screen($screen-simple) {
        font-size: 1.25rem;
    }
}

@mixin style-heading-5 {
    font-size: 1rem;

    @include screen($screen-simple) {
        font-size: 1.125rem;
    }
}

//
// Specific typography:
//




